<ion-header>
  <ion-toolbar>
    <ion-title slot="start">CDE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>

    <ion-card-header>
      <ion-card-title>Sobre a CDE</ion-card-title>
      <ion-card-subtitle>Carteirinha Digital do Estudante</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="/assets/telaprincipal.png" />
    </ion-card-content>
    <ion-card-content>
      O aplicativo móvel de identificação estudantil para substituir a versão física da carteirinha do estudante. 
    </ion-card-content>

  </ion-card>
  <br>
  <ion-button [routerLink]="['/login']" expand="block" color="primary">Entrar</ion-button>
</ion-content>